.roboto{
    font-family: Roboto;
}

.condensed{
    font-family: 'Open Sans Condensed', sans-serif;
}

.personal-img{
    height: 200px;
}

.logo{
    height: 100px;
}

.proj-img{
    width: 200px;
}

.pull-down{
    margin-top: 50px;
}

.pull-down-medium{
    margin-top: 25px;
}

.pull-down-little{
    margin-top: 5px;
}

.pull-down-small{
    margin-top: 20px;
}

.center{
    text-align: center;
}

.center-v{
    vertical-align: center;
}

.social-links{
    width: 50px;
}

.paper-thumb{
    width: 100px;
    margin-bottom: 10px;
}

.post-link{
    text-decoration: underline;
    font-size: 1.2em;
    color: #00A8C6;
}

.date{
    color: rgba(1, 1, 1, 0.25);
    float: right;
    font-family: monospace;
}